<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-4">
    <input [(ngModel)]="searchKey">
  </div>
  <div class="col-xs-12 col-md-4 col-lg-4">
    <button class="btn btn-default" (click)="move()">Move</button>
  </div>
  <div class="col-xs-12 col-md-4 col-lg-4">
      <!-- <button class="btn btn-default" (click)="add()">Add</button> -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDataModal">
         Add
        </button>
  </div>
</div>
<ng-container>
  <app-table [tableData]="tableData" [keys]="keys" [searchKey]="searchKey"></app-table>
  <app-table [tableData]="secondaryTableData" [keys]="keys" ></app-table>
  <app-add-data (eventData)="addDataToTable($event)"></app-add-data>
</ng-container>

</div>
<router-outlet></router-outlet>
