<div class="modal fade" id="addDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                  Country : <input [(ngModel)]="item.country"><br>
                  Segment : <input [(ngModel)]="item.segment"><br>
                  Product :<input [(ngModel)]="item.product"><br>
                  Units sold<input [(ngModel)]="item.unitsSold"><br>
                  Manufacturing Price:<input [(ngModel)]="item.manufacturingPrice"><br>
                  Sale Price : <input [(ngModel)]="item.salePrice"><br>
                  gross Sale : <input [(ngModel)]="item.grossSale">   <br>               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="savetoPrimaryTable()">Save changes</button>
            </div>
          </div>
        </div>
</div>